<!DOCTYPE html>
<html>
  <head>
    <title>RailsPortfolio2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <% if worker_signed_in? %>
      <%= link_to "ログアウト", destroy_worker_session_path, method: :delete %>
      <%= link_to "ドライバー一覧へ", workers_path %>
      <%= link_to "配信日一覧へ", dispatches_path %>
      <%= link_to "マイページへ", worker_path(current_worker.id) %>
    <% else %>
      <%= link_to "ログイン", new_worker_session_path, class: 'post' %>
    <% end %>

    <%= yield %>
    
  </body>
</html>
